.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.accent {
  color: #4d5ae5;
}

a {
  color: #2e2f42;
}

.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link a:hover,
.nav-link a:focus {
  color: #404bbf;
}

.nav-studio:active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.address-list-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.main {
  background-color: #2e2f42;
  height: 600px;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.main-title-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
}

.hidden-title {
  display: none;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.team {
  background-color: #f4f4fd;
  margin-bottom: 120px;
}

.team-title {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}

.team li {
  background-color: #ffffff;
}

.team h3,
.team p {
  text-align: center;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  height: 312px;
}

.studio {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  height: 112px;
  padding-top: 100px;
  margin-left: 156px;
}
